.hero{
    display: grid;
    grid-template-columns: var(--grid-container);
    background-image: url('/src/Images/Hero Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    margin-bottom: 4rem;
    
    &__inner{
        grid-area: inner;
    }
    
    
    &__content{
        h2{
            margin: 0;
        }
        position: absolute;
        bottom: 15rem;
        font-size: 70px;
        color: #f1f1f1;
        width: 43rem;

        &-header{
            font-weight: 200;
        }
    }

    &__footer{
        position: absolute;
        width: 80rem;
        bottom: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #fff;
        margin-bottom: 2rem;
    }

    &__footer-button{
        border: 0;
        background: none;
        &:hover{
            cursor: pointer;
        }
    }
    &__footer-social{
        display: flex;
        gap: 1rem;
        right: 0;
        position: absolute;

    }

    .material-symbols-outlined{
        color: #fff;
    }

    &__content-button{
        background: none;
        border: 0;
        padding: 0;
        font-family: 'Abolition';
        color: #fff;
        font-size: 31px;
        height: 60px;
        width: 153px;
        background-color: #0584FF;
        transform: skew(-5deg);

        &--red{
            background-color: red;
        }

        &:hover{
            cursor: pointer;
        }

    }










    &__readmore{
        font-size: 20px;
    }

    &__details-button{
        background: none;
        padding: 0;
        margin: 0;
        border: 0;
    }
}





// .hero__image{
//     background-image: url('/src/Images/Hero Background.svg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100vh;
//     width: 100%;
//     margin: 0;
//     img{
//         width: 100%;
//         height: 100vh;
//         margin: 0;
//         padding: 0;
//     }
// }