@use '../../scss/components/details';

.banner{
    display: grid;
    grid-template-columns: var(--grid-container);
    max-height: 380px;
    margin-bottom: var(--section-gap);


    &__inner{
        grid-column: inner;
        overflow: hidden;
        position: relative;
        transition: all 0.2s;
        &:hover{
            transform: translateX(6px) scale(1.02);
            cursor: pointer;
        }
    }
    
    &__image{
        object-fit: cover;
        position: relative;
        height: 100%;
    }
    
    
    &__content{
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h2{ 
            font-size: 5.5rem;
            padding: 0;
            margin: 1rem 2.5rem;
            color: #fff;
        }
        
        h3{
            font-size: 2.5rem;
            padding: 0;
            margin: 1rem 2.5rem;
            color: #fff;
            opacity: 0.82;
        }
        
    }
    &__content-overlay{
        @include details.arrow;
        background-color: rgba($color: #3F4A53, $alpha: 0.6);
        position: absolute;
        transition: all 0.2s;
        &:hover{
            background-color: rgba($color: #5d6d7a, $alpha: 0.5);
            span{
                color: #3F4A53;
            }   
        }

    }
}