.footer{
    height: 450px;
    background-color: #2B3135;
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner{
        grid-column: inner;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;

    }

    &__info{
        color: #fff;

        p{
            margin: 0;
            padding: 0;
        }
        span{
            font-weight: 600;
        }

        &-image{
            margin-bottom: 2.5rem;
        }
    }

    &__buttons{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 10rem;
        gap: 1.5rem;

        button{
            background: none;
            border: 0;
            color: #fff;
            font-size: 1rem;
            font-family: 'Industry';
            transition: all 0.2s;
            &:hover{
                cursor: pointer;
                font-size: 18px;
                color: #a2a2a2;
            }
        }
    }

    &__logo{
        display: flex;
        flex-direction: column;
        gap: 5.6rem;

    }
    &__social{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

}
.footer__copyright{
    display: grid;
    grid-area: inner;
    bottom: 0;

    &-inner{
        display: flex;
        align-items: end;
        margin-bottom: 2.5rem;
        color: #fff;
        opacity: 0.5;
    }
}