.header{
    display: grid;
    grid-template-columns: var(--grid-container);
    position: absolute;
    height: 120px;
    width: 100%;
    
    &__inner{
        display: flex;
        grid-area: inner;
        align-items: center;
    }

    &__logo{
        align-items: start;
    }
    &__logo-image{
        width: 9rem;
        height: 6rem;
    }

    &__menu{
        display: flex;
        align-items: center;
        margin-left: auto;

        &-button{
            background: none;
            border: 0;

            &:hover{
                cursor: pointer;
            }
        }
    }
    
    
    &__menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-right: 2rem;
    }

    &__menu-list{
        list-style: none;
        font-size: 25px;
        color: #FFF;
        font-family: 'Abolition';
        font-style: oblique;
        transition: all 0.2s;
        &:hover{
            transform: scale(1.2);
            color: #d6d6d6;
        }

        &-home{
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-decoration-color: red;
            text-underline-offset: 5px;
        }
    }

    &__menu-item-button{
        background-color: transparent;
        color: #fff;
        border: 0;
        padding: 0;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: var(--gap-s);
        width: 21px;
        height: 21px;
        position: relative;
        padding-left: 1rem;
        transition: all 0.2s;

        &-hamburger{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            width: 100%;
            background-color: #fff;
            transition: height 0s 0.2s;

            &::before{
                content: "";
                display: block;
                height: 2px;
                width: 100%;
                background-color: inherit;
                position: absolute;
                top: -8px;
                transition: top 0.2s 0.2s, transform 0.2s;
            }

            &::after{
                content: "";
                right: 0;
                top: 8px;
                width: 70%;
                display: block;
                height: 2px;
                width: 100%;
                background-color: inherit;
                position: absolute;
                transition: top 0.2s 0.2s, transform 0.2s;
            }
        }
    }
}
