.header{
    display: grid;
    grid-template-columns: var(--grid-container);
    position: absolute;
    height: 120px;
    width: 100%;
    
    &__inner{
        display: flex;
        grid-area: inner;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        align-items: start;
    }
    &__logo-image{
        width: 9rem;
        height: 6rem;
    }
    
    
    &__menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__menu-list{
        list-style: none;
        font-size: 25px;
        color: #FFF;
        font-style: oblique;
    }
}