@use '../../scss/components/details';

.news{
    display: grid;
    grid-template-columns: var(--grid-container);
    margin-bottom: var(--section-gap);

    &__inner{
        grid-column: inner;
    }

    &__header{
        grid-area: 1/1;
        margin-bottom: var(--gap-xl);
    }

    &__grid-container{
        display: grid;
        grid-template-columns: repeat(5, 254px);
        grid-template-rows: repeat(8, 138px);
    }

    &__big{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;

        &-updated{
            p{
                margin: 0;
            }
        }
    }

    &__big-header{
        display: flex;
        align-items: center;
        height: 7rem;
        font-size: 62px;
        font-style: oblique;
        font-weight: lighter;
        margin-bottom: 2rem;
    }

    &__big-figure{
        margin: 0;
    }

    &__big-image{
        height: 522px;
        width: 100%;
        object-fit: cover;
    }

    &__big-readmore{
        @include details.skewbutton;
        transition: all 0.2s;

        &:hover{
            cursor: pointer;
            transform: translate(6px) skew(-5deg);
            color: #121517;
            font-size: 27px;
        }
    }

    &__big-share{
        @include details.sharebutton;
        transition: all 0.2s;

        &:hover{
            cursor: pointer;
            transform: translate(6px);
            color: #121517;
            font-size: 27px;
        }
        
    }

    // Small containers on the side

    &__small,
    &__small-under{
        display: grid;
        grid-column-start: 4;
        grid-column-end: 6;
        margin-left: 6.8rem;
    }

    &__small{
        grid-row-end: 2;

        &-header{
            padding-bottom: var(--gap-s);
        }
    }

    &__small-buttons{
        display: flex;
        gap: 1rem;
    }
    
    &__small-readmore{
        @include details.skewbutton;
        transition: all 0.2s;

        &:hover{
            cursor: pointer;
            transform: translate(6px) skew(-5deg);
            color: #121517;
            font-size: 27px;
        }
    }

    &__small-share{
        @include details.sharebutton;
        padding: 0;
        transition: all 0.2s;

        &:hover{
            cursor: pointer;
            transform: translate(6px);
            color: #121517;
            font-size: 27px;
        }
    }

    &__small-under{
        grid-row-start: 5;
        margin-top: 3rem;
    }

}